<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2023.1.426(AdditionalPackages)" value="/home/aleksandr/repo/XsdValidatorDI/Telerik" />
    <add key="Telerik UI for ASP.NET Core 2023.1.426(MainPackage)" value="/home/aleksandr/repo/XsdValidatorDI/Telerik/wrappers/aspnetcore/Binaries/AspNet.Core" />
  </packageSources>
</configuration>

